* {
    margin: 0;
    padding: 0;
}


#container{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.caixa{
    flex-grow: 1;
    width: 140px;
    height: 140px;
    background-color: blueviolet;
    border: solid 6px rgb(0, 0, 0);
}